.search-input {
    width: 30%;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
    padding: 0 10px;
    transition: all .5s ease;
  }
  
.search-input:hover {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-btn {
  width: 20%;
  border-radius: 20px;
  font-size: 25px;
  color: white;
  background-color: transparent;
  transition: all .5s ease;
  border: 1px solid transparent;
}

.search-btn:hover {
  background-color: #fff;
  color: black;
  border: 2px solid white;
}
